/.*
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.run/
HELP.md
**/*.log
**/*.hprof
**/generated/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Ignore Terraform provider and module directories
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
