#!/bin/sh

rsync -avzr /etc/letsencrypt /home/certsync/letsencrypt
%{for manager_node_ip in manager_nodes ~}
su -c "rsync -avzr /home/certsync/letsencrypt certsync@${manager_node_ip}:/home/certsync/" - certsync
su -c "ssh certsync@${manager_node_ip} sudo rsync -avzr /home/certsync/letsencrypt /etc/letsencrypt" - certsync
%{endfor ~}
docker service update --force nginx_nginx-proxy
