#!/bin/sh

mkdir -p /var/www/certbot
mkdir -p /etc/letsencrypt/live
chmod 700 /etc/letsencrypt/live

echo ${certsync_private_ssh_key} > /home/certsync/.ssh/id_ed25519
chmod 600 /home/certsync/.ssh/id_ed25519
chown -R certsync:certsync /home/certsync/.ssh
